
p
{
    /*Content-Width and Height*/
    width: 50%;
    height: 50%;
    /*margin: top right bottom left;*/
    margin: 0 auto 0 auto;
    margin-bottom: 100px;
    padding: 10px;
    padding-left: 40px;
    /*Border*/

    border: 2px solid blue;
}


table
{
    margin: auto;
}
td
{
    width: 100px;
    height: 100px;
    margin: 0;
}

tr:nth-of-type(1) td:nth-of-type(1)
{
    border-bottom: 2px solid black;
}

tr:nth-of-type(1) td:nth-of-type(2)
{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
tr:nth-of-type(1) td:nth-of-type(3)
{
    border-bottom: 2px solid black;
}

tr:nth-of-type(2) td:nth-of-type(1)
{
    border-bottom: 2px solid black;
}

tr:nth-of-type(2) td:nth-of-type(2)
{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

tr:nth-of-type(2) td:nth-of-type(3)
{
    border-bottom: 2px solid black;
}


tr:nth-of-type(3) td:nth-of-type(2)
{
    border-right: 2px solid black;
    border-left: 2px solid black;
}
